<section>
  <h2>Stores</h2>
  <form (ngSubmit)="onSubmit()" #editableForm="ngForm">
    <section
      *ngFor="let row of rows; index as i"
      [ngClass]="{ deleteOnSave: row.markedForDeletion }"
    >
      <!-- index is used for [for] and [name] because a new store will have neither a 
      name nor id on initialization. 1 is added to the index because names need to be truthy -->
      <label [for]="i + 1">Name: </label>
      <input
        [name]="i + 1"
        type="text"
        [readonly]="!row.editable"
        [(ngModel)]="row.name"
        #name="ngModel"
        required
        [unique]="storeNames"
      />
      <input
        (click)="toggleEditable(row)"
        type="button"
        [value]="row.editable ? 'Cancel' : 'Edit'"
        [disabled]="row.markedForDeletion"
      />
      <input
        *ngIf="row.id"
        (click)="toggleMarkForDeletion(row)"
        type="button"
        [value]="row.markedForDeletion ? 'Preserve' : 'Delete'"
      />
      <span *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
        <span *ngIf="name.errors.required">Name is required</span>
        <span *ngIf="name.errors.unique">Name must be unique</span>
      </span>
    </section>
    <section class="submission">
      <input type="button" value="Add a store" (click)="addRow()" />
      <button
        [disabled]="!anyRowsEdited() || !editableForm.valid"
        type="submit"
      >
        Save Changes
      </button>
    </section>
  </form>
</section>
