<section>
  <form>
    <label for="stores">Stores: </label>
    <select [(ngModel)]="selectedStore" name="stores" required>
      <option [ngValue]="undefined" selected hidden disabled
        >Select a store...</option
      >
      <option
        *ngFor="let store of storesService.stores$ | async"
        [ngValue]="store"
        [innerText]="store.name"
      ></option>
    </select>
  </form>
  <div *ngIf="selectedStore">
    <h2>Selected Store</h2>
    <p *ngFor="let property of selectedStore | keyvalue">
      <span style="font-weight: bold;">{{
        utils.camelToDisplay(property.key)
      }}</span>
      <span>: </span>
      <span>{{ property.value }}</span>
    </p>
  </div>
</section>

<section>
  <form>
    <label for="groceries">Groceries: </label>
    <select [(ngModel)]="selectedGrocery" name="groceries" required>
      <option [ngValue]="undefined" selected hidden disabled
        >Select a grocery...</option
      >
      <option
        *ngFor="let grocery of groceriesService.groceries | async"
        [ngValue]="grocery"
        [innerText]="grocery.name"
      ></option>
    </select>
  </form>
  <div *ngIf="selectedGrocery">
    <h2>Selected Grocery</h2>
    <p *ngFor="let property of selectedGrocery | keyvalue">
      <span style="font-weight: bold;">{{
        utils.camelToDisplay(property.key)
      }}</span>
      <span>: </span>
      <span>{{ property.value }}</span>
    </p>
  </div>
</section>
